.hat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hat ion-button {
    margin-top: 18px;
}


ion-img {
    width: 80%;
}