.dropshadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.buttoncenter {
  text-align: center;
  margin: 8px;
  margin-top: 16px;
}

.buttondiv {
  text-align: center;
}

.housetext {
  text-align: center;
  margin-top: 28px;
  font-size: larger;
  font-weight: bold;
}

// .background {
//   background: url("https://www.ecopetit.cat/wpic/mpic/190-1907034_vertical-harry-potter-wallpaper-hd.jpg") center;
//   background-size: cover;
//   height: 100%;
// }